body{
    background-color: rgb(86, 24, 143);
color: rgb(191, 124, 253);
font-family:  sans-serif;
margin: 0px;
}
header {border-bottom: solid 4px red;
padding: 10px;
font-size: 32px;
color: bisque;
}